// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-nav {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
}

body {
  margin:0;
}
